<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hihasan.e_traceability.globe">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <!--<activity android:name=".MainActivity"-->
            <!--android:label="@string/app_name"-->
            <!--android:theme="@style/AppTheme.NoActionBar"-->
            <!--android:parentActivityName=".MainActivity"/>-->

        <!--Menu class-->
        <activity android:name=".animal.AnimalDetails"
            android:label="@string/animal"/>
        <activity android:name=".commercial.Commercial"
            android:label="@string/commercial"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".harvest.HarvestDetails"
            android:label="@string/harvest"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".monitoring.Monitoring"
            android:label="@string/monitioring"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".pound.PoundDetails"
            android:label="@string/pond"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".store.Store"
            android:label="@string/store"
            android:parentActivityName=".MainActivity"/>

        <!--Profile Pannel-->
        <activity android:name=".profile.ProfileMain"
            android:label="Profile"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".profile.EditProfile"
            android:parentActivityName=".profile.ProfileMain"
            android:label="Edit Profile"/>



    </application>

</manifest>